body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: coral;
  flex-direction: column;
  align-items: center;
  font-family: Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}


input[type="file"] {
  display: none;
}

.receipt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.button {
  border: 1px solid whitesmoke;
  padding: 6px 12px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button:hover {
  color: coral;
  border: 1px solid coral;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bill {
  text-align: center;
  display: none;
}

.item {
  display: flex;
  padding: 6px 12px;
  border: 1px solid whitesmoke;
  justify-content: space-between;
  width: 75vw;
  margin-top: 3vh;
  transition-duration: 0.4s;
}

.selected {
  color: coral;
  border: 1px solid coral;
  background-color: whitesmoke;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.pad {
  height: 10vh;
}

.carousel {
  margin: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel > h1 {
  display: inline;
  margin: 3vh 3vw;
}

.carousel > span {
  font-weight: 900;
  font-size: xx-large;
  user-select: none; 
}